.sales-list li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin: 50px;
    border-bottom: 1px solid #ccc;
    width: 500px;

        span{
            font-weight: bold;
        }

        i{
            border-left: 1px solid #ccc;
            height: 35px;
        }

        button{
            background-color: rgb(122, 6, 6);
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-bottom: 10px;
        }
}